/* styles.css */

/* Set the background color for the entire page */
body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-color: #cfe9f0; /* Fallback color */
    font-family:  Arial, sans-serif; /* set the font */
    color: #000000; /* set text color */
}

/* Optional: Style the headings and paragraphs */
h1 {
    color: #000000; /* heading color */
    font-size: xx-large;
    font-family:  Arial, serif; /* font for the heading */
}

p {
    font-size: x-large; /* adjust font size */
    line-height: 1.6; /* improve readability */
}

.news {
    background-color: rgb(155, 133, 92);
    font-size: larger
}

select {
    width: 64px;
    height: 32px;
  }